<div class="container-fluid"><div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             CATEGORIES:
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
         <a routerLink="menswear" ><strong>MENSWEAR</strong></a><br>

         <a routerLink="shoes"><strong>ELECTRONICS GADGET</strong></a><br>

         <a routerLink="womenswear"><strong>WOMENSWEAR</strong></a><br>

        </div>
      </div>
    </div>
 
</div>